.notice {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid darkgray;
  color: darkgray;
}

.fancy-input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid darkgray;
  color: darkgray;
  height: 32px;
}
