.notice {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid darkgray;
  color: darkgray;
}

.fancy-input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid darkgray;
  color: darkgray;
  height: 32px;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.received-file {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.received-file-image {
  height: 320px;
  width: auto;
  object-fit: contain;
}

.image-container {
  text-align: center;
}
